{% extends 'web/base.html' %}
{% load static %}

{% block title %}
    Avila Bikes | Inicio 
{% endblock %}

{% block content %}
    <style>
        #header-carousel {
            height: 100vh;
            overflow: hidden;
        }

        .carousel-item img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    </style>

    <!-- Carousel Start -->
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="{% static 'web/img/electrifica.png' %}" alt="electrifica">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">Avila Bikes</h5>
                        <h1 class="display-3 text-white mb-md-4">Taller de reparación de bicicletas y patinetes.</h1>
                        <a href="{% url 'web:servicios' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Conoce nuestros servicios</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="{% static 'web/img/cambio.png' %}" alt="cambio">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">Servicios para Bicicletas</h5>
                        <h1 class="display-3 text-white mb-md-4">Descubre lo que ofrecemos para cuidar tu bici</h1>
                        <a href="{% url 'web:bicicleta' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="{% static 'web/img/pati-motor.png' %}" alt="motor">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">Servicios para Patinetes</h5>
                        <h1 class="display-3 text-white mb-md-4">Descubre lo que ofrecemos para cuidar tu patinete</h1>
                        <a href="{% url 'web:patinete' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center pb-1">
                <div class="col-lg-5">
                    <img class="img-thumbnail p-3" src="{% static 'web/img/visitanos.jpg' %}" alt="avila bikes">
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0">
                    <large class="bg-primary text-white text-uppercase font-weight-bold px-1">Avila Bikes</large>
                    <h1 class="mt-2 mb-4">Taller de reparación de bicicletas, patinete y cualquier vehículo de movilidad urbana.</h1>
                    <p class="mb-4">Nos encontramos en el corazón de Barcelona, brindando servicios especializados para mantener en óptimas condiciones tu bicicleta, patinete y cualquier otro vehículo de movilidad urbana. Además de ofrecer servicios integrales, contamos con una variedad de recambios y accesorios de alta calidad. Si buscas una opción más sostenible, también disponemos de vehículos de segunda mano a la venta.</p>
                    <a href="{% url 'web:contacto' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Contacta con nosotros</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="d-flex align-items-center border mb-4 mb-lg-0 p-4" style="height: 120px;">
                        <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="font-weight-bold">Direccón</h5>
                            <p class="m-0">Carrer Provença 512, local 1, 08025, Barcelona, España</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center border mb-4 mb-lg-0 p-4" style="height: 120px;">
                        <i class="fa fa-2x fa-envelope-open text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="font-weight-bold">Email</h5>
                            <p class="m-0">barcelona@avilabikes.es</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center border mb-4 mb-lg-0 p-4" style="height: 120px;">
                        <i class="fas fa-2x fa-phone-alt text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="font-weight-bold">Teléfono</h5>
                            <p class="m-0">+34 686 71 97 66</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11969.909946094873!2d2.1783706!3d41.4071525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a36c5bbc953f%3A0x8c53fbe649a3e6aa!2sAvila%20Bikes%20-%20Taller%20de%20bicicleta%20y%20patinete!5e0!3m2!1ses-419!2ses!4v1705444280996!5m2!1ses-419!2ses" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Services Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <large class="bg-primary text-white text-uppercase font-weight-bold px-1">Servicios</large>
                    <h1 class="mt-2 mb-3">¿Sabes todo lo que ofrecemos en Avila Bikes?</h1>
                    <a href="{% url 'web:servicios' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Ver</a>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <div class="d-flex">
                                <i class="fa fa-3x fa-bicycle text-primary mr-4"></i>
                                <div class="d-flex flex-column">
                                    <h4 class="font-weight-bold mb-3">Bicicletas</h4>
                                    <p>Servicios para tu bici</p>
                                    <a class="font-weight-semi-bold" href="{% url 'web:bicicleta' %}">Descúbrelo <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="d-flex">
                                <i class="fa fa-3x fa-plug text-primary mr-4"></i>
                                <div class="d-flex flex-column">
                                    <h4 class="font-weight-bold mb-3">Patinetes</h4>
                                    <p>Servicios para tu patiente</p>
                                    <a class="font-weight-semi-bold" href="{% url 'web:patinete' %}">Descúbrelo <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="d-flex">
                                <i class="fa fa-3x fa-battery-three-quarters text-primary mr-4"></i>
                                <div class="d-flex flex-column">
                                    <h4 class="font-weight-bold mb-3">Electrificación</h4>
                                    <p>Descubre como podrías electrificar tu bici</p>
                                    <a class="font-weight-semi-bold" href="{% url 'web:electrifica' %}">Ver más <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

    <!-- Ocasion Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center pb-1">
                <div class="col-lg-5">
                    <img class="img-thumbnail p-3" src="{% static 'web/img/ocasion.png' %}" alt="avila bikes">
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0">
                    <large class="bg-primary text-white text-uppercase font-weight-bold px-1">Avila Bikes</large>
                    <h1 class="mt-2 mb-4">Bici-Ocasión</h1>
                    <p class="mb-4">¿Bucando alguna bici o patinete de ocasión verificada por un experto?</p>
                    <a href="{% url 'web:ocasion' %}" class="btn btn-secondary py-md-2 px-md-4 font-weight-semi-bold">Descúbrelo</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <div class="container">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-a6808374-8f21-42a5-a82a-f1389330c156" data-elfsight-app-lazy></div>
    </div>


   
{% endblock %}
