{% extends 'web/base.html' %}
{% load static %}

{% block title %}
    Avila Bikes | Políticas
{% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5 mb-5"style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({% static 'web/img/header-avila.jpg' %}); background-position: top; background-repeat: no-repeat; background-size: cover;">
        <h1 class="display-4 text-white mb-3 mt-0 mt-lg-5">Políticas</h1>
    </div>
    <!-- Page Header Start -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center">
                <large class="bg-primary text-white text-uppercase font-weight-bold text-center px-1 mb-2">AVISO LEGAL</large>
                <p class="text-center lead" style="font-size: 13px;">
                    El presente Aviso Legal regula el uso del servicio del portal de Internet con dirección www.avilabikes.es, cuyo responsable a efectos identificativos es:<br>
                    •	Responsable: BENJAMIN ALEJANDRO TORREGROSA LOPEZ<br>
                    •	NIF: 51299628Z<br>
                    •	Dirección: C/ PROVENZA 512, LOCAL 1, BARCELONA, 08025, Barcelona<br>
                    •	Teléfono: 686719766<br>
                    •	Mail: barcelona@avilabikes.es<br>
                    Legislación<br>
                    Con carácter general las relaciones entre BENJAMIN ALEJANDRO TORREGROSA LOPEZ con los Usuarios de sus servicios telemáticos, presentes en la web, se encuentran sometidas a la legislación y jurisdicción españolas.
                    Las partes renuncian expresamente al fuero que les pudiera corresponder y someten expresamente a los Juzgados y Tribunales de Barcelona para resolver cualquier controversia que pudiera surgir en la interpretación o ejecución de las presentes condiciones contractuales.<br>
                    Contenido y Uso<br>
                    El Usuario queda informado, y acepta, que el acceso a la presente web no supone, en modo alguno, el inicio de una relación comercial con BENJAMIN ALEJANDRO TORREGROSA LOPEZ.
                    El titular del web no se identifica con las opiniones vertidas en el mismo por sus colaboradores. La Empresa se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su Web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en sus servidores.
                    Propiedad intelectual e industrial<br>
                    Los derechos de propiedad intelectual del contenido de las páginas web, su diseño gráfico y códigos son titularidad de BENJAMIN ALEJANDRO TORREGROSA LOPEZ y, por tanto, queda prohibida su reproducción, distribución, comunicación pública, transformación o cualquier otra actividad que se pueda realizar con los contenidos de sus páginas web ni aun citando las fuentes, salvo consentimiento por escrito de BENJAMIN ALEJANDRO TORREGROSA LOPEZ Todos los nombres comerciales, marcas o signos distintos de cualquier clase contenidos en las páginas web de la Empresa son propiedad de sus dueños y están protegidos por ley.<br>
                    Enlaces (Links)<br>
                    La presencia de enlaces (links) en las páginas web de BENJAMIN ALEJANDRO TORREGROSA LOPEZ tiene finalidad meramente informativa y en ningún caso supone sugerencia, invitación o recomendación sobre los mismos.                    
                </p>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="text-center">
                <large class="bg-primary text-white text-uppercase font-weight-bold text-center px-1 mb-5">POLÍTICA DE COOKIES</large>
                <p class="text-center lead" style="font-size: 13px;">
                    En esta web se utilizan cookies de terceros y propias para conseguir que tengas una mejor experiencia de navegación, puedas compartir contenido en redes sociales y para que podamos obtener estadísticas de los usuarios.<br>
                    Puedes evitar la descarga de cookies a través de la configuración de tu navegador, evitando que las cookies se almacenen en su dispositivo.<br>
                    Como propietario de este sitio web, te comunico que no utilizamos ninguna información personal procedente de cookies, tan sólo realizamos estadísticas generales de visitas que no suponen ninguna información personal.<br>
                    Es muy importante que leas la presente política de cookies y comprendas que, únicamente se almacenarán en tu dispositivo las cookies necesarias para la navegación. El resto de cookies se instalarán siempre y cuando lo consientas expresamente.<br>
                    Según los términos incluidos en el artículo 22.2 de la Ley 34/2002 de Servicios de la Sociedad de la Información y Comercio Electrónico, si continúas navegando, estarás prestando tu consentimiento para el empleo de los referidos mecanismos.<br>
                    Entidad Responsable<br>
                    La entidad responsable de la recogida, procesamiento y utilización de tus datos personales, en el sentido establecido por la Ley de Protección de Datos personales, es la página www.avilabikes.es, propiedad de BENJAMIN ALEJANDRO TORREGROSA LOPEZ, y dirección en C/ PROVENZA 512, LOCAL 1, BARCELONA, 08025, Barcelona.<br>
                </p>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="text-center">
                <large class="bg-primary text-white text-uppercase font-weight-bold text-center px-1 mb-5">POLÍTICA DE PRIVACIDAD</large>
                <p class="text-center lead" style="font-size: 13px;">
                    La presente Política de Privacidad regula el uso del servicio del portal de Internet con dirección www.avilabikes.es, cuyo responsable a efectos identificativos es:<br>
                    •	Responsable: BENJAMIN ALEJANDRO TORREGROSA LOPEZ<br>
                    •	NIF: 51299628Z<br>
                    •	Dirección: C/ PROVENZA 512, LOCAL 1, BARCELONA, 08025, Barcelona<br>
                    •	Teléfono: 686719766<br>
                    •	Mail: barcelona@avilabikes.es<br>
                    Finalidad, ¿Para qué tratamos sus datos?<br>
                    A efecto de lo previsto en RGPD de 27 de abril de 2016, y la LO 3/2018, trataremos los datos que recojamos para las siguientes finalidades:<br>
                    •	Contactar con usted en caso de que así nos lo pida.<br>
                    •	Gestionar su navegación en la web, en su caso.<br>
                    •	Remitirle comunicaciones comerciales acerca de nuestros productos y servicios.<br>
                    Para ello el usuario dispondrá de un formulario de registro cuya cumplimentación legitimará al interesado al acceso y disfrute de determinados servicios ofrecidos en la web.<br>
                    No obstante, se informa al usuario que en todo formulario de contacto el mismo será informado del uso que se hará de los datos obtenidos y, si son utilizados para un fin distinto, dicho consentimiento se obtendrá previamente y de manera expresa.<br>
                    Si el consentimiento del interesado se da en el contexto de una declaración escrita que también se refiera a otros asuntos, la solicitud de consentimiento se presentará de tal forma que se distinga claramente de los demás asuntos, de forma inteligible y de fácil acceso y utilizando un lenguaje claro y sencillo, de conformidad con el artículo 7.2 del RGPD de 27 de abril de 2016.<br>
                </p>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="text-center">
                <a href="{% url 'web:homepage' %}" class="btn btn-secondary py-md-2 px-md-4 font-weight-semi-bold">Inicio</a>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}
